$0=10 (Pack cell count; number of series cells in the battery pack, set to 0 to disable cell sensing, Uint)
$1=6500 (Max charging current; mA (milliAmps), maximum current allowed to flow to battery, Uint)
$2=50 (Charging termination current; mA (milliAmps), stop charging when current drops below this, Uint)
$3=2400 (Minimum cell voltage; mV (milliVolts), minimum allowed cell voltage, no charging allowed if cell voltage 
below this, Uint)
$4=4200 (Maximum cell voltage; mV (milliVolts), maximum allowed cell voltage, no charging allowed if cell voltage 
above this, Uint)
$5=25000 (Minimum charger voltage; mV (milliVolts), minimum allowed charger voltage, no charging allowed if 
charger voltage below this, Uint)
$6=43000 (Maximum charger voltage; mV (milliVolts), maximum allowed charger voltage, no charging allowed if 
charger voltage above this, Uint)
$7=24000 (Minimum pack voltage; mV (milliVolts), minimum allowed pack voltage, no charging allowed if pack 
voltage below this, Uint)
$8=42000 (Maximum pack voltage; mV (milliVolts), maximum allowed pack voltage, no charging allowed if pack 
voltage above this, Uint)
$9=4150 (Charging cell termination voltage; mV (milliVolts), don't allow any cell to go above this voltage when 
charging, Uint)

$10=41500 (Charging pack termination voltage; mV (milliVolts), don't allow pack to go above this voltage when 
charging, Uint)
$11=3900 (Cell balancing voltage; mV (milliVolts), allow balancing once a cell goes above this voltage, Uint)
$12=10 (Allowed difference between cell groups; mV (milliVolts), maximum allowed voltage difference between cell 
groups, balance if difference bigger, Uint)
$13=280 (Minimum external NTC thermistor temperature; K (Kelvin), set to 0 to disable, if enabled, the minimum 
temperature above which charging is allowed, Uint)
$14=320 (Maximum external NTC thermistor temperature; K (Kelvin), set to 0 to disable, if enabled, the maximum 
temperature below which charging is allowed, Uint)
$15=260 (Minimum PCB temperature; K (Kelvin), the minimum temperature above which charging is allowed, Uint)
$16=330 (Maximum PCB temperature; K (Kelvin), the maximum temperature below which charging is allowed, Uint)
$17=0 (0/1, allow cell balancing outside of charging, Boolean)
$18=30 (Fault wait time; s (seconds), How long to wait after fault state before trying to start charging again, 
Uint)
$19=1.0055 (Gain for Battery voltage ADC conversion, Float)

$20=0.0 (Offset for Battery voltage ADC conversion, Float)
$21=1.0094 (Gain for Charger voltage ADC conversion, Float)
$22=0.0 (Offset for Charger voltage ADC conversion, Float)
$23=1.0104 (Gain for Current sense ADC conversion, Float)
$24=0.0 (Offset for Current sense ADC conversion, Float)
$25=1.0000 (Gain for External NTC temperature probe conversion, Float)
$26=0.0 (Offset for External NTC temperature probe conversion, Float)
$27=1.0000 (Gain for Internal MCU temperature conversion, Float)
$28=0.0 (Offset for Internal MCU temperature conversion, Float)
$29=3380 (External NTC probe Beta-value; external NTC sensor's beta value, Uint)

$30=16 (ADC's oversampling setting; allowed values (1, 2, 4, 8, 16), Uint)
$31=100 (h (Hours), how long to stay in active mode, Uint)
$32=0 (0/1, force 5V regulator always on when battery connected, Boolean)
$33=3 (balancing temperature ratio, dynamically adjusts the max allowed balancing resistors based on BMS 
temperature, set to 0 to use static maximum, Uint)
$34=3800 (Storage discharge voltage; mV (milliVolts), if storage discharge enabled, then pack will be discharged 
to this voltage, Uint)
$35=500 (h (Hours), how long to wait from last CHARGING event to start discharging the pack to the storage 
voltage, set to 0 to disable, Uint)
$36=0 (0/1, CAN activity status LED tick, good for testing that the BMS is receiving CAN traffic, Boolean)
$37=10 (CAN ID number for this BMS unit, if using multi-BMS setups, all BMS' need to have unique CAN ID, 
uint16_t)
$38=0 (0/1, if set to 1, keeps 5V regulator on if activeTimer is not expired even if USB, charger or Opto not 
active, Boolean)
$39=0 (h (Hours), up to how many hours a CAN-frame reception can extend activeTimer, set to 0 to disable, 
uint16_t)

$40=1 (1 or 0, can be used to allow CAN activity to wake-up the BMS from sleep, increases sleep mode quiescent 
current slightly, set to 0 to disable, boolean)
